<!DOCTYPE html>
<html lang='en'>
<head>
  <title>India Elections 2019: </title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta property="og:url"           content="https://india2019.vote">
  <meta property="og:type"          content="India2019.vote" />
  <meta property="og:title"         content="Indian Election 2019 Predictions" />
  <meta property="og:description"   content="Do you know India's pulse? Make your predictions for the Indian elections 2019 & follow what others are predicting." />
  <meta property="og:image"         content= <%=image_path("RahulGandhivsNarendraModiIndia2019.png")%>/>
  <meta name="description" content="Do you know India's pulse? Make your predictions for the Indian elections 2019 & follow what others are predicting.“>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137803782-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-137803782-1');
  </script>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <% content_for(:head) do %>
    <%= javascript_pack_tag 'app', 'data-turbolinks-track': 'reload', nonce: true %>
  <% end %>

  <%= yield :head %>
</head>

<body>
  <%= yield %>
</body>
</html>
